.fade-enter-active,
.fade-leave-active {
  transition: all .4s;
  transition-delay: .3s;
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all .8s;
}
.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(-100%);
}
